<aside id="column-left" class="col-sm-3 col-sm-push-9">
        <div id="blog-categories">
            <!-- <a href="https://www.leisurecosmetics.com/index.php?route=account/account" class="s-12 m-4 l-12 cat">我的帳號</a> -->

            <a href="/users/edit" class="s-12 m-4 l-12 cat">基本資料</a>
            <!-- <a href="/users/password" class="s-12 m-4 l-12 cat">密碼變更</a> -->
            <!-- <a href="/users/edit" class="s-12 m-4 l-12 cat">***訂單記錄</a> -->

            <!-- <a href="https://www.leisurecosmetics.com/index.php?route=account/address" class="s-12 m-4 l-12 cat">寄送地址</a> -->
            <!-- <a href="https://www.leisurecosmetics.com/index.php?route=account/wishlist" class="s-12 m-4 l-12 cat">收藏清單</a> -->

            <!-- <a href="https://www.leisurecosmetics.com/index.php?route=account/download" class="s-12 m-4 l-12 cat">下載商品</a> -->
            <!-- <a href="https://www.leisured cosmetics.com/index.php?route=account/recurring" class="s-12 m-4 l-12 cat">分期付款</a> -->
            <!-- <a href="https://www.leisurecosmetics.com/index.php?route=account/reward" class="s-12 m-4 l-12 cat">獎勵積點</a>  -->
            <!-- <a href="https://www.leisurecosmetics.com/index.php?route=account/return" class="s-12 m-4 l-12 cat">商品退換</a>  -->
            <!-- <a href="https://www.leisurecosmetics.com/index.php?route=account/transaction" class="s-12 m-4 l-12 cat">交易記錄</a> -->
            <!-- <a href="https://www.leisurecosmetics.com/index.php?route=account/newsletter" class="s-12 m-4 l-12 cat">訂閱電子報</a> -->

            <%= link_to "會員登出", destroy_user_session_path, method: :delete,class:"s-12 m-4 l-12 cat" %>
        </div>
</aside>