<div id="page-main-content">
	 

    <div class="section background-white">
        <div class="line">
            <div class="margin">


                <div class="s-12 m-12 l-offset-2 l-8">

                    <!-- post -->
                    <div id="blog-post">

                        <!-- title & image -->
                        <div class="line">
                            <div class="fullwidth">
                                <h1 class="margin-bottom-30">運送支付方式介紹</h1>
                                <img src="image/catalog/article/ppd.jpg" alt="" class="fullwidth">
                            </div>
                        </div>

                        <!-- post text -->
                        <div class="line">
                            <div class="fullwidth border-bottom">
                                <div class="post">
                                    <p>
                                        <h3>




                                            <style type="text/css">
                                                p.p1 {
                                                    margin: 0.0px 0.0px 0.0px 0.0px;
                                                    line-height: 30.0px;
                                                    font: 14.0px 微軟正黑體;
                                                    color: #626262;
                                                    -webkit-text-stroke: #626262;
                                                    background-color: #ffffff
                                                }

                                                p.p2 {
                                                    margin: 0.0px 0.0px 0.0px 0.0px;
                                                    line-height: 30.0px;
                                                    font: 14.0px 微軟正黑體;
                                                    color: #626262;
                                                    -webkit-text-stroke: #626262;
                                                    background-color: #ffffff;
                                                    min-height: 19.0px
                                                }

                                                span.s1 {
                                                    font-kerning: none
                                                }

                                                span.s2 {
                                                    font-kerning: none;
                                                    color: #588c3f;
                                                    -webkit-text-stroke: 0px #588c3f
                                                }
                                            </style>


                                        </h3>
                                        <h3>關於運送方式：<br></h3>
                                        <p>
                                            <font face="Arial">「ECPay 超商取貨付款」（</font><span style="font-family: Arial; -webkit-text-stroke-color: rgb(51, 51, 51);">時效：</span><span
                                                style="color: rgb(51, 51, 51); font-family: Arial; font-size: 14px; -webkit-text-stroke-color: rgb(51, 51, 51);">出貨後約3-5天</span><span
                                                style="font-family: Arial;">）</span>
                                        </p>
                                        <p><span style="font-family: Arial; color: rgb(51, 51, 51); font-size: 14px; -webkit-text-stroke: rgb(51, 51, 51);">貨物運送至指定之超商(7-11/全家/萊爾富)門市，分為</span><b
                                                style="font-family: Arial; color: rgb(51, 51, 51); font-size: 14px; -webkit-text-stroke: rgb(51, 51, 51);">純取貨</b><span
                                                style="font-family: Arial; color: rgb(51, 51, 51); font-size: 14px; -webkit-text-stroke: rgb(51, 51, 51);">和</span><b
                                                style="font-family: Arial; color: rgb(51, 51, 51); font-size: 14px; -webkit-text-stroke: rgb(51, 51, 51);">取貨付款</b><span
                                                style="font-family: Arial; color: rgb(51, 51, 51); font-size: 14px; -webkit-text-stroke: rgb(51, 51, 51);">兩種。</span></p>
                                        <p class="p1"><span class="s1">
                                                <font face="Arial"><b>純取貨</b>：須事先付款，當商品送達您指定之便利商店門市時，將以E-mail與簡訊通知取貨。至門市取貨時需攜帶證明身份之文件，相關文件須知請參考超商網站之說明。</font>
                                            </span></p>
                                        <p class="p1"><span class="s1">
                                                <font face="Arial"><b>取貨付款</b>：不須事先付款，至門市取貨時直接付款即可。當商品送達您指定之便利商店門市時，將以E-mail與簡訊通知取貨。</font>
                                            </span></p>
                                        <p class="p1"><br></p>
                                        <p class="p1"><span style="color: inherit; font-family: Arial; font-size: 15px; -webkit-text-stroke-width: initial;">「郵寄/宅配」（</span><span
                                                style="font-family: Arial; color: rgb(0, 0, 0); font-size: 13px;">時效： 出貨後約2-3天）</span></p>
                                        <p><span style="font-family: Arial; color: rgb(51, 51, 51); font-size: 14px; -webkit-text-stroke: rgb(51, 51, 51);">目前提供<b>郵局</b>/</span><b
                                                style="font-family: Arial; color: rgb(51, 51, 51); font-size: 14px; -webkit-text-stroke: rgb(51, 51, 51);">黑貓宅急便</b><span
                                                style="font-family: Arial; color: rgb(51, 51, 51); font-size: 14px; -webkit-text-stroke: rgb(51, 51, 51);">的宅配服務(</span><b
                                                style="font-family: Arial; color: rgb(51, 51, 51); font-size: 14px; -webkit-text-stroke: rgb(51, 51, 51);">無貨到付款</b><span
                                                style="font-family: Arial; color: rgb(51, 51, 51); font-size: 14px; -webkit-text-stroke: rgb(51, 51, 51);">)。</span></p>
                                        <p class="p1"><span class="s1">
                                                <font face="Arial">服務範圍：台灣本島各地各縣市、澎湖部分地區、金門 部分地區（大金門、小金門）、小琉球、馬祖 全部地區、綠島。</font>
                                            </span></p>
                                        <p class="p1"><span class="s1">
                                                <font face="Arial">以下區域恕不提供宅急便包裹收送服務： 1.宜蘭縣-釣魚台列嶼(全) 2.南海諸島-東沙(全)、南沙(全)
                                                    3.澎湖縣-馬公(虎井島、桶盤島)、望安(全)、七美(全)、白沙(大倉嶼、員貝嶼、鳥嶼、吉貝嶼) 4.金門縣-烈嶼(大膽島、二膽島)、烏坵(全) 5.台東縣-蘭嶼(全)。
                                                    6.連江縣-南竿鄉、北竿鄉、莒光鄉、東引鄉。</font>
                                            </span></p>
                                        <p class="p1"><span class="s1">
                                                <font face="Arial"><br></font>
                                            </span></p>
                                        <p class="p1"><span class="s1"><span style="color: rgb(0, 0, 0); font-family: Arial; font-size: 13px;">使用宅配服務時，如多張訂單為同一收件人/地址/電話，將會統一包裝出貨，不另行通知。</span></span></p>
                                        <p class="p1"><br></p>
                                        <h3><span class="s1">
                                                <font face="Arial">關於支付方式：</font>
                                            </span></h3>
                                        <h4><span class="s1">
                                                <font face="Arial">[綠界整合金流]</font>
                                            </span></h4>
                                        <p class="p1"><span class="s1">
                                                <font face="Arial"><b>信用卡(一次付清)</b>：支援VISA、MasterCard、JCB信用卡一次付清。結帳後直接進入線上金流頁面，按照步驟操作完成線上付款即可。</font>
                                            </span></p>
                                        <p class="p1"><span class="s1">
                                                <font face="Arial"><b>網路ATM/ATM櫃員機</b>：支援<a href="https://www.ecpay.com.tw/About/Partnerbank"><span class="s2">多家銀行</span></a>網路ATM轉帳服務。</font>
                                            </span></p>
                                        <p class="p1"><span class="s1">
                                                <font face="Arial"><b>超商代碼/超商條碼</b>：至超商多媒體機台輸入代碼列印繳費單，或自行列印超商條碼至超商櫃台繳費。支援7-ELEVEN、全家、萊爾富、OK，全台10,000家便利超商。</font>
                                            </span></p>
                                        <h4><span class="s1">
                                                <font face="Arial">[ECPay 超商取貨付款]</font>
                                            </span></h4>
                                        <p class="p1"><span class="s1">
                                                <font face="Arial">在超商(7-11/全家/萊爾富)取貨時，直接支付現金貨款。於運送方式選擇ECPay超商取貨付款者，才能使用此方法支付款項。</font>
                                            </span></p>
                                        <p class="p1"><span class="s1">
                                                <font face="Arial"><br></font>
                                            </span></p>
                                        <p class="p1"><span class="s1">
                                                <font face="Arial"><br></font>
                                            </span></p>
                                        <h3 style="-webkit-text-stroke-width: 0px;"><span class="s1"><span style="color: rgb(0, 0, 0); font-family: Arial; font-size: 13px;">非台灣地區之海外訂單，運費另計，支付方式目前僅提供信用卡一次付清，敬請見諒。請先聯絡客服確認運費，再行下訂。</span></span><span
                                                style="font-family: Arial; font-size: 13px;">下單時請填寫地址、收件人姓名</span><span style="-webkit-text-stroke-width: initial; font-family: Arial; font-size: 13px;">於訂單備註，並提供報關使用的身份證明文件副本</span><span
                                                style="-webkit-text-stroke-width: initial; font-family: Arial; font-size: 13px;">。</span></h3>
                                        <h3 style="-webkit-text-stroke-width: 0px;"><br></h3>
                                        <h4></h4>
                                        <style type="text/css">
                                            p.p1 {
                                                margin: 0.0px 0.0px 0.0px 0.0px;
                                                line-height: 30.0px;
                                                font: 14.0px 微軟正黑體;
                                                color: #333333;
                                                -webkit-text-stroke: #333333;
                                                background-color: #ffffff
                                            }

                                            p.p2 {
                                                margin: 0.0px 0.0px 0.0px 0.0px;
                                                line-height: 30.0px;
                                                font: 14.0px 微軟正黑體;
                                                color: #626262;
                                                -webkit-text-stroke: #626262;
                                                background-color: #ffffff
                                            }

                                            span.s1 {
                                                font-kerning: none
                                            }

                                            span.s2 {
                                                font-kerning: none;
                                                color: #333333;
                                                -webkit-text-stroke: 0px #333333
                                            }
                                        </style>
                                    </p>

                                </div>
                                <div class="text-center"><a href="javascript:history.back()" class="button">回上頁</a></div>
                            </div>
                        </div>

                    </div>
                </div>

            </div>
        </div>
    </div>
 

</div>


<%=render 'layouts/footer'%>