<div id="page-main-content">
  <!-- HEADER START -->
  <div class="section">
    <form
      id="checkout-form"
      method="post"
      action="https://www.leisurecosmetics.com/index.php?route=checkout/checkout"
      class="customform payform"
    >
      <div id="content" class="line">
        <h1 class="text-center">結帳</h1>
        <hr class="break-small break-center" />
        <div class="s-12 m-12 l-8 padding-right-30">
          <div class="margin-bottom-30 padding border-1">
            <div class="line">
              <h4>結帳選項</h4>
              <hr class="break-small" />
              <div class="margin">
                <div class="s-12 m-6 l-6">
                  <input
                    type="text"
                    name="lastname"
                    value=""
                    placeholder="姓氏"
                    id="input-payment-lastname"
                  />
                </div>
                <div class="s-12 m-6 l-6">
                  <input
                    type="text"
                    name="firstname"
                    value=""
                    placeholder="名字"
                    id="input-payment-firstname"
                  />
                </div>
              </div>
              <div class="fullwidth">
                <input
                  type="tel"
                  name="telephone"
                  value=""
                  placeholder="電話"
                  id="input-telephone"
                />
              </div>
              <div class="fullwidth">
                <input
                  type="text"
                  name="email"
                  value=""
                  placeholder="E-Mail（帳號）"
                  id="input-email"
                />
              </div>
              <div id="address-combo-container" class="margin">
                <div class="s-12 m-12 l-4">
                  <select name="zone_id" id="input-payment-zone">
                    <option value="4241"> 南投縣 </option>
                    <option value="4237"> 南海島 </option>
                    <option value="4244"> 台中市 </option>
                    <option value="4256"> 台北市 </option>
                    <option value="4245"> 台南市 </option>
                    <option value="4254"> 台南縣 </option>
                    <option value="4247"> 台東縣 </option>
                    <option value="4250"> 嘉義市 </option>
                    <option value="4233"> 嘉義縣 </option>
                    <option value="4251"> 基隆市 </option>
                    <option value="4236"> 宜蘭縣 </option>
                    <option value="4243"> 屏東縣 </option>
                    <option value="4232"> 彰化縣 </option>
                    <option value="4246"> 新北市 </option>
                    <option value="4234"> 新竹市 </option>
                    <option value="4252"> 新竹縣 </option>
                    <option value="4248"> 桃園市 </option>
                    <option value="4242"> 澎湖縣 </option>
                    <option value="4235"> 花蓮縣 </option>
                    <option value="4240"> 苗栗縣 </option>
                    <option value="4239"> 連江縣 </option>
                    <option value="4238"> 金門縣 </option>
                    <option value="4253"> 釣魚台 </option>
                    <option value="4249"> 雲林縣 </option>
                    <option value="4255"> 高雄市 </option>
                  </select>
                  <input type="hidden" name="zone" value="" />
                </div>
                <div class="s-12 m-6 l-4">
                  <select name="city" id="input-payment-city"></select>
                </div>
                <div class="s-12 m-6 l-4">
                  <input type="text" name="postcode" value="" readonly />
                </div>
              </div>

              <!-- address Combo -->
              <script
                type="text/javascript"
                src="catalog/view/javascript/jquery/jquery-2.1.1.min.js"
              ></script>
              <script type="text/javascript">
                var container = $("#address-combo-container");
                var cities = {
                  "4256": {
                    "100": "\u4e2d\u6b63\u5340",
                    "103": "\u5927\u540c\u5340",
                    "104": "\u4e2d\u5c71\u5340",
                    "105": "\u677e\u5c71\u5340",
                    "106": "\u5927\u5b89\u5340",
                    "108": "\u842c\u83ef\u5340",
                    "110": "\u4fe1\u7fa9\u5340",
                    "111": "\u58eb\u6797\u5340",
                    "112": "\u5317\u6295\u5340",
                    "114": "\u5167\u6e56\u5340",
                    "115": "\u5357\u6e2f\u5340",
                    "116": "\u6587\u5c71\u5340"
                  },
                  "4251": {
                    "200": "\u4ec1\u611b\u5340",
                    "201": "\u4fe1\u7fa9\u5340",
                    "202": "\u4e2d\u6b63\u5340",
                    "203": "\u4e2d\u5c71\u5340",
                    "204": "\u5b89\u6a02\u5340",
                    "205": "\u6696\u6696\u5340",
                    "206": "\u4e03\u5835\u5340"
                  },
                  "4246": {
                    "207": "\u842c\u91cc\u5340",
                    "208": "\u91d1\u5c71\u5340",
                    "220": "\u677f\u6a4b\u5340",
                    "221": "\u6c50\u6b62\u5340",
                    "222": "\u6df1\u5751\u5340",
                    "223": "\u77f3\u7887\u5340",
                    "224": "\u745e\u82b3\u5340",
                    "226": "\u5e73\u6eaa\u5340",
                    "227": "\u96d9\u6eaa\u5340",
                    "228": "\u8ca2\u5bee\u5340",
                    "231": "\u65b0\u5e97\u5340",
                    "232": "\u576a\u6797\u5340",
                    "233": "\u70cf\u4f86\u5340",
                    "234": "\u6c38\u548c\u5340",
                    "235": "\u4e2d\u548c\u5340",
                    "236": "\u571f\u57ce\u5340",
                    "237": "\u4e09\u5cfd\u5340",
                    "238": "\u6a39\u6797\u5340",
                    "239": "\u9daf\u6b4c\u5340",
                    "241": "\u4e09\u91cd\u5340",
                    "242": "\u65b0\u838a\u5340",
                    "243": "\u6cf0\u5c71\u5340",
                    "244": "\u6797\u53e3\u5340",
                    "247": "\u8606\u6d32\u5340",
                    "248": "\u4e94\u80a1\u5340",
                    "249": "\u516b\u91cc\u5340",
                    "251": "\u6de1\u6c34\u5340",
                    "252": "\u4e09\u829d\u5340",
                    "253": "\u77f3\u9580\u5340"
                  },
                  "4239": {
                    "209": "\u5357\u7aff\u9109",
                    "210": "\u5317\u7aff\u9109",
                    "211": "\u8392\u5149\u9109",
                    "212": "\u6771\u5f15\u9109"
                  },
                  "4236": {
                    "260": "\u5b9c\u862d\u5e02",
                    "261": "\u982d\u57ce\u93ae",
                    "262": "\u7901\u6eaa\u9109",
                    "263": "\u58ef\u570d\u9109",
                    "264": "\u54e1\u5c71\u9109",
                    "265": "\u7f85\u6771\u93ae",
                    "266": "\u4e09\u661f\u9109",
                    "267": "\u5927\u540c\u9109",
                    "268": "\u4e94\u7d50\u9109",
                    "269": "\u51ac\u5c71\u9109",
                    "270": "\u8607\u6fb3\u93ae",
                    "272": "\u5357\u6fb3\u9109"
                  },
                  "4253": { "290": "\u91e3\u9b5a\u53f0" },
                  "4252": {
                    "300": "\u65b0\u7af9\u5e02",
                    "302": "\u7af9\u5317\u5e02",
                    "303": "\u6e56\u53e3\u9109",
                    "304": "\u65b0\u8c50\u9109",
                    "305": "\u65b0\u57d4\u93ae",
                    "306": "\u95dc\u897f\u93ae",
                    "307": "\u828e\u6797\u9109",
                    "308": "\u5bf6\u5c71\u9109",
                    "310": "\u7af9\u6771\u93ae",
                    "311": "\u4e94\u5cf0\u9109",
                    "312": "\u6a6b\u5c71\u9109",
                    "313": "\u5c16\u77f3\u9109",
                    "314": "\u5317\u57d4\u9109",
                    "315": "\u5ce8\u7709\u9109"
                  },
                  "4248": {
                    "320": "\u4e2d\u58e2\u5340",
                    "324": "\u5e73\u93ae\u5340",
                    "325": "\u9f8d\u6f6d\u5340",
                    "326": "\u694a\u6885\u5340",
                    "327": "\u65b0\u5c4b\u5340",
                    "328": "\u89c0\u97f3\u5340",
                    "330": "\u6843\u5712\u5340",
                    "333": "\u9f9c\u5c71\u5340",
                    "334": "\u516b\u5fb7\u5340",
                    "335": "\u5927\u6eaa\u5340",
                    "336": "\u5fa9\u8208\u5340",
                    "337": "\u5927\u5712\u5340",
                    "338": "\u8606\u7af9\u5340"
                  },
                  "4240": {
                    "350": "\u7af9\u5357\u93ae",
                    "351": "\u982d\u4efd\u93ae",
                    "352": "\u4e09\u7063\u9109",
                    "353": "\u5357\u5e84\u9109",
                    "354": "\u7345\u6f6d\u9109",
                    "356": "\u5f8c\u9f8d\u93ae",
                    "357": "\u901a\u9704\u93ae",
                    "358": "\u82d1\u88e1\u93ae",
                    "360": "\u82d7\u6817\u5e02",
                    "361": "\u9020\u6a4b\u9109",
                    "362": "\u982d\u5c4b\u9109",
                    "363": "\u516c\u9928\u9109",
                    "364": "\u5927\u6e56\u9109",
                    "365": "\u6cf0\u5b89\u9109",
                    "366": "\u9285\u947c\u9109",
                    "367": "\u4e09\u7fa9\u9109",
                    "368": "\u897f\u6e56\u9109",
                    "369": "\u5353\u862d\u93ae"
                  },
                  "4244": {
                    "400": "\u4e2d\u5340",
                    "401": "\u6771\u5340",
                    "402": "\u5357\u5340",
                    "403": "\u897f\u5340",
                    "404": "\u5317\u5340",
                    "406": "\u5317\u5c6f\u5340",
                    "407": "\u897f\u5c6f\u5340",
                    "408": "\u5357\u5c6f\u5340",
                    "411": "\u592a\u5e73\u5340",
                    "412": "\u5927\u91cc\u5340",
                    "413": "\u9727\u5cf0\u5340",
                    "414": "\u70cf\u65e5\u5340",
                    "420": "\u8c50\u539f\u5340",
                    "421": "\u540e\u91cc\u5340",
                    "422": "\u77f3\u5ca1\u5340",
                    "423": "\u6771\u52e2\u5340",
                    "424": "\u548c\u5e73\u5340",
                    "426": "\u65b0\u793e\u5340",
                    "427": "\u6f6d\u5b50\u5340",
                    "428": "\u5927\u96c5\u5340",
                    "429": "\u795e\u5ca1\u5340",
                    "432": "\u5927\u809a\u5340",
                    "433": "\u6c99\u9e7f\u5340",
                    "434": "\u9f8d\u4e95\u5340",
                    "435": "\u68a7\u68f2\u5340",
                    "436": "\u6e05\u6c34\u5340",
                    "437": "\u5927\u7532\u5340",
                    "438": "\u5916\u57d4\u5340",
                    "439": "\u5927\u5b89\u5340"
                  },
                  "4232": {
                    "500": "\u5f70\u5316\u5e02",
                    "502": "\u82ac\u5712\u9109",
                    "503": "\u82b1\u58c7\u9109",
                    "504": "\u79c0\u6c34\u9109",
                    "505": "\u9e7f\u6e2f\u93ae",
                    "506": "\u798f\u8208\u9109",
                    "507": "\u7dda\u897f\u9109",
                    "508": "\u548c\u7f8e\u93ae",
                    "509": "\u4f38\u6e2f\u9109",
                    "510": "\u54e1\u6797\u93ae",
                    "511": "\u793e\u982d\u9109",
                    "512": "\u6c38\u9756\u9109",
                    "513": "\u57d4\u5fc3\u9109",
                    "514": "\u6eaa\u6e56\u93ae",
                    "515": "\u5927\u6751\u9109",
                    "516": "\u57d4\u9e7d\u9109",
                    "520": "\u7530\u4e2d\u93ae",
                    "521": "\u5317\u6597\u93ae",
                    "522": "\u7530\u5c3e\u9109",
                    "523": "\u57e4\u982d\u9109",
                    "524": "\u6eaa\u5dde\u9109",
                    "525": "\u7af9\u5858\u9109",
                    "526": "\u4e8c\u6797\u93ae",
                    "527": "\u5927\u57ce\u9109",
                    "528": "\u82b3\u82d1\u9109",
                    "530": "\u4e8c\u6c34\u9109"
                  },
                  "4241": {
                    "540": "\u5357\u6295\u5e02",
                    "541": "\u4e2d\u5bee\u9109",
                    "542": "\u8349\u5c6f\u93ae",
                    "544": "\u570b\u59d3\u9109",
                    "545": "\u57d4\u91cc\u93ae",
                    "546": "\u4ec1\u611b\u9109",
                    "551": "\u540d\u9593\u9109",
                    "552": "\u96c6\u96c6\u93ae",
                    "553": "\u6c34\u91cc\u9109",
                    "555": "\u9b5a\u6c60\u9109",
                    "556": "\u4fe1\u7fa9\u9109",
                    "557": "\u7af9\u5c71\u93ae",
                    "558": "\u9e7f\u8c37\u9109"
                  },
                  "4233": {
                    "600": "\u5609\u7fa9\u5e02",
                    "602": "\u756a\u8def\u9109",
                    "603": "\u6885\u5c71\u9109",
                    "604": "\u7af9\u5d0e\u9109",
                    "605": "\u963f\u91cc\u5c71",
                    "606": "\u4e2d\u57d4\u9109",
                    "607": "\u5927\u57d4\u9109",
                    "608": "\u6c34\u4e0a\u9109",
                    "611": "\u9e7f\u8349\u9109",
                    "612": "\u592a\u4fdd\u5e02",
                    "613": "\u6734\u5b50\u5e02",
                    "614": "\u6771\u77f3\u9109",
                    "615": "\u516d\u8173\u9109",
                    "616": "\u65b0\u6e2f\u9109",
                    "621": "\u6c11\u96c4\u9109",
                    "622": "\u5927\u6797\u93ae",
                    "623": "\u6eaa\u53e3\u9109",
                    "624": "\u7fa9\u7af9\u9109",
                    "625": "\u5e03\u888b\u93ae"
                  },
                  "4249": {
                    "630": "\u6597\u5357\u93ae",
                    "631": "\u5927\u57e4\u9109",
                    "632": "\u864e\u5c3e\u93ae",
                    "633": "\u571f\u5eab\u93ae",
                    "634": "\u8912\u5fe0\u9109",
                    "635": "\u6771\u52e2\u9109",
                    "636": "\u53f0\u897f\u9109",
                    "637": "\u5d19\u80cc\u9109",
                    "638": "\u9ea5\u5bee\u9109",
                    "640": "\u6597\u516d\u5e02",
                    "643": "\u6797\u5167\u9109",
                    "646": "\u53e4\u5751\u9109",
                    "647": "\u83bf\u6850\u9109",
                    "648": "\u897f\u87ba\u93ae",
                    "649": "\u4e8c\u5d19\u9109",
                    "651": "\u5317\u6e2f\u93ae",
                    "652": "\u6c34\u6797\u9109",
                    "653": "\u53e3\u6e56\u9109",
                    "654": "\u56db\u6e56\u9109",
                    "655": "\u5143\u9577\u9109"
                  },
                  "4245": {
                    "700": "\u4e2d\u897f\u5340",
                    "701": "\u6771\u5340",
                    "702": "\u5357\u5340",
                    "704": "\u5317\u5340",
                    "708": "\u5b89\u5e73\u5340",
                    "709": "\u5b89\u5357\u5340",
                    "710": "\u6c38\u5eb7\u5340",
                    "711": "\u6b78\u4ec1\u5340",
                    "712": "\u65b0\u5316\u5340",
                    "713": "\u5de6\u93ae\u5340",
                    "714": "\u7389\u4e95\u5340",
                    "715": "\u6960\u897f\u5340",
                    "716": "\u5357\u5316\u5340",
                    "717": "\u4ec1\u5fb7\u5340",
                    "718": "\u95dc\u5edf\u5340",
                    "719": "\u9f8d\u5d0e\u5340",
                    "720": "\u5b98\u7530\u5340",
                    "721": "\u9ebb\u8c46\u5340",
                    "722": "\u4f73\u91cc\u5340",
                    "723": "\u897f\u6e2f\u5340",
                    "724": "\u4e03\u80a1\u5340",
                    "725": "\u5c07\u8ecd\u5340",
                    "726": "\u5b78\u7532\u5340",
                    "727": "\u5317\u9580\u5340",
                    "730": "\u65b0\u71df\u5340",
                    "731": "\u5f8c\u58c1\u5340",
                    "732": "\u767d\u6cb3\u5340",
                    "733": "\u6771\u5c71\u5340",
                    "734": "\u516d\u7532\u5340",
                    "735": "\u4e0b\u71df\u5340",
                    "736": "\u67f3\u71df\u5340",
                    "737": "\u9e7d\u6c34\u5340",
                    "741": "\u5584\u5316\u5340",
                    "742": "\u5927\u5167\u5340",
                    "743": "\u5c71\u4e0a\u5340",
                    "744": "\u65b0\u5e02\u5340",
                    "745": "\u5b89\u5b9a\u5340"
                  },
                  "4255": {
                    "800": "\u65b0\u8208\u5340",
                    "801": "\u524d\u91d1\u5340",
                    "802": "\u82d3\u96c5\u5340",
                    "803": "\u9e7d\u57d5\u5340",
                    "804": "\u9f13\u5c71\u5340",
                    "805": "\u65d7\u6d25\u5340",
                    "806": "\u524d\u93ae\u5340",
                    "807": "\u4e09\u6c11\u5340",
                    "811": "\u6960\u6893\u5340",
                    "812": "\u5c0f\u6e2f\u5340",
                    "813": "\u5de6\u71df\u5340",
                    "814": "\u4ec1\u6b66\u5340",
                    "815": "\u5927\u793e\u5340",
                    "820": "\u5ca1\u5c71\u5340",
                    "821": "\u8def\u7af9\u5340",
                    "822": "\u963f\u84ee\u5340",
                    "823": "\u7530\u5bee\u5340",
                    "824": "\u71d5\u5de2\u5340",
                    "825": "\u6a4b\u982d\u5340",
                    "826": "\u6893\u5b98\u5340",
                    "827": "\u5f4c\u9640\u5340",
                    "828": "\u6c38\u5b89\u5340",
                    "829": "\u6e56\u5167\u5340",
                    "830": "\u9cf3\u5c71\u5340",
                    "831": "\u5927\u5bee\u5340",
                    "832": "\u6797\u5712\u5340",
                    "833": "\u9ce5\u677e\u5340",
                    "840": "\u5927\u6a39\u5340",
                    "842": "\u65d7\u5c71\u5340",
                    "843": "\u7f8e\u6fc3\u5340",
                    "844": "\u516d\u9f9c\u5340",
                    "845": "\u5167\u9580\u5340",
                    "846": "\u6749\u6797\u5340",
                    "847": "\u7532\u4ed9\u5340",
                    "848": "\u6843\u6e90\u5340",
                    "849": "\u90a3\u746a\u590f",
                    "851": "\u8302\u6797\u5340",
                    "852": "\u8304\u8423\u5340"
                  },
                  "4237": { "817": "\u6771\u6c99", "819": "\u5357\u6c99" },
                  "4242": {
                    "880": "\u99ac\u516c\u5e02",
                    "881": "\u897f\u5dbc\u9109",
                    "882": "\u671b\u5b89\u9109",
                    "883": "\u4e03\u7f8e\u9109",
                    "884": "\u767d\u6c99\u9109",
                    "885": "\u6e56\u897f\u9109"
                  },
                  "4238": {
                    "890": "\u91d1\u6c99\u93ae",
                    "891": "\u91d1\u6e56\u93ae",
                    "892": "\u91d1\u5be7\u9109",
                    "893": "\u91d1\u57ce\u93ae",
                    "894": "\u70c8\u5dbc\u9109",
                    "896": "\u70cf\u5775\u9109"
                  },
                  "4243": {
                    "900": "\u5c4f\u6771\u5e02",
                    "901": "\u4e09\u5730\u9580",
                    "902": "\u9727\u53f0\u9109",
                    "903": "\u746a\u5bb6\u9109",
                    "904": "\u4e5d\u5982\u9109",
                    "905": "\u91cc\u6e2f\u9109",
                    "906": "\u9ad8\u6a39\u9109",
                    "907": "\u9e7d\u57d4\u9109",
                    "908": "\u9577\u6cbb\u9109",
                    "909": "\u9e9f\u6d1b\u9109",
                    "911": "\u7af9\u7530\u9109",
                    "912": "\u5167\u57d4\u9109",
                    "913": "\u842c\u4e39\u9109",
                    "920": "\u6f6e\u5dde\u93ae",
                    "921": "\u6cf0\u6b66\u9109",
                    "922": "\u4f86\u7fa9\u9109",
                    "923": "\u842c\u5dd2\u9109",
                    "924": "\u5d01\u9802\u9109",
                    "925": "\u65b0\u57e4\u9109",
                    "926": "\u5357\u5dde\u9109",
                    "927": "\u6797\u908a\u9109",
                    "928": "\u6771\u6e2f\u93ae",
                    "929": "\u7409\u7403\u9109",
                    "931": "\u4f73\u51ac\u9109",
                    "932": "\u65b0\u5712\u9109",
                    "940": "\u678b\u5bee\u9109",
                    "941": "\u678b\u5c71\u9109",
                    "942": "\u6625\u65e5\u9109",
                    "943": "\u7345\u5b50\u9109",
                    "944": "\u8eca\u57ce\u9109",
                    "945": "\u7261\u4e39\u9109",
                    "946": "\u6046\u6625\u93ae",
                    "947": "\u6eff\u5dde\u9109"
                  },
                  "4247": {
                    "950": "\u53f0\u6771\u5e02",
                    "951": "\u7da0\u5cf6\u9109",
                    "952": "\u862d\u5dbc\u9109",
                    "953": "\u5ef6\u5e73\u9109",
                    "954": "\u5351\u5357\u9109",
                    "955": "\u9e7f\u91ce\u9109",
                    "956": "\u95dc\u5c71\u93ae",
                    "957": "\u6d77\u7aef\u9109",
                    "958": "\u6c60\u4e0a\u9109",
                    "959": "\u6771\u6cb3\u9109",
                    "961": "\u6210\u529f\u93ae",
                    "962": "\u9577\u6ff1\u9109",
                    "963": "\u592a\u9ebb\u91cc",
                    "964": "\u91d1\u5cf0\u9109",
                    "965": "\u5927\u6b66\u9109",
                    "966": "\u9054\u4ec1\u9109"
                  },
                  "4235": {
                    "970": "\u82b1\u84ee\u5e02",
                    "971": "\u65b0\u57ce\u9109",
                    "972": "\u79c0\u6797\u9109",
                    "973": "\u5409\u5b89\u9109",
                    "974": "\u58fd\u8c50\u9109",
                    "975": "\u9cf3\u6797\u93ae",
                    "976": "\u5149\u5fa9\u9109",
                    "977": "\u8c50\u6ff1\u9109",
                    "978": "\u745e\u7a57\u9109",
                    "979": "\u842c\u69ae\u9109",
                    "981": "\u7389\u91cc\u93ae",
                    "982": "\u5353\u6eaa\u9109",
                    "983": "\u5bcc\u91cc\u9109"
                  }
                };
                var default_city = "";
                var default_zone = "";

                var zone_field = container.find("input[name=zone]");
                var zone_id_field = container.find("select[name=zone_id]");
                var city_field = container.find("select[name=city]");
                var postcode_field = container.find("input[name=postcode]");

                zone_id_field.change(function() {
                  city_field.children().remove();
                  city_field.append("<option value=''>請選擇</option>");

                  $.each(cities, function(index, value) {
                    if (zone_id_field.val() == index) {
                      // console.log(zone_id_field.children('option:selected').text());
                      $.each(value, function(postcode, cityname) {
                        city_field.append(
                          $("<option></option>")
                            .attr("value", cityname)
                            .text(cityname)
                        );
                      });
                    }
                  });

                  if (default_city) {
                    $("option[value=" + default_city + "]", city_field).prop(
                      "selected",
                      true
                    );
                  }
                  city_field.trigger("change");
                });

                city_field.change(function() {
                  postcode_field.val("");
                  $.each(cities, function(zone_id, value) {
                    if (zone_id == zone_id_field.val()) {
                      $.each(value, function(postcode, cityname) {
                        if (cityname == city_field.val()) {
                          postcode_field.val(postcode);
                          let zoneName = zone_id_field
                            .children("option:selected")
                            .text();
                          zone_field.val(zoneName);
                        }
                      });
                    }
                  });
                });

                zone_id_field.trigger("change");
              </script>
              <div class="fullwidth">
                <input
                  type="text"
                  name="address_1"
                  value=""
                  placeholder="地址"
                  id="input-payment-address-1"
                />
              </div>
              <div class="fullwidth">
                <textarea
                  id="input-comment"
                  name="comment"
                  rows="5"
                  placeholder="備註"
                ></textarea>
              </div>

              <input type="hidden" name="country" value="中華民國" />
              <input type="hidden" name="country_id" value="206" />
            </div>
          </div>

          <div class="margin-bottom-30 padding border-1">
            <div class="line">
              <h4>運送方式</h4>
              <hr class="break-small" />
              <div class="fullwidth">
                <p>請選擇一個運送方式。</p>
                <div class="s-12 m-6 l-6">
                  <div class="radio">
                    <label>
                      <input
                        type="radio"
                        name="shipping_type"
                        value="ecpaylogistic"
                      />
                      ECPay 超商取貨付款
                    </label>
                  </div>
                  <div class="radio">
                    <label>
                      <input type="radio" name="shipping_type" value="flat" />
                      郵寄/宅配
                    </label>
                  </div>
                </div>
                <div class="s-12 m-6 l-6">
                  <select name="shipping_method">
                    <!-- js render --></select
                  >
                </div>

                <div class="ecpaylogistic-control-area">
                  <div id="ecpaylogistic-store-info">
                    <div class="customform store-info">
                      <h4>收件門市</h4>
                      <input
                        type="button"
                        id="ecpaylogistic"
                        value="選擇收件門市"
                        onClick="javascript:show_cvs_map()"
                      />
                      <div style="color:red">
                        提醒您，因使用FB及LINE
                        APP內建瀏覽器進行操作時會發生網頁空白的問題，建議您可先複製商品連結後使用其他瀏覽器重新購買。
                      </div>
                      <div class=" form-group">
                        <div class="error"></div>
                        <div class="col-sm-2">門市地址：</div>
                        <div class="col-sm-10 ">
                          <input
                            type="text"
                            name="ecpaylogistic_address"
                            value=""
                          />
                        </div>
                      </div>
                      <div class=" form-group">
                        <div class="col-sm-2">門市電話：</div>
                        <div class="col-sm-10">
                          <input
                            type="text"
                            name="ecpaylogistic_telephone"
                            value=""
                          />
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <script type="text/javascript">
                  var logisticAddress = $("[name=ecpaylogistic_address]");
                  var logisticTelephone = $("[name=ecpaylogistic_telephone]");

                  var iframe_link =
                    "https://www.leisurecosmetics.com/index.php?route=shipping/ecpaylogistic/show_cvs_map";
                  var selectionWindow = null;
                  $("#mart-selection-frame").load(function() {
                    //binding events to elements which inside iframe, must been loaded fully.
                    $("#mart-selection-frame")
                      .contents()
                      .find("body")
                      .delegate("#confirmBtn", "click", function() {
                        alert("binding success");
                      });
                  });
                  function show_cvs_map() {
                    //get shipping method name from input
                    var method = $("[name=shipping_method]").val(); // shipping_method is select this version
                    if (method == undefined || method == "") {
                      return;
                    }
                    //new tab
                    selectionWindow = window.open(
                      iframe_link + "&shipping_method=" + method,
                      "_blank"
                    );
                  }
                  //new page which be opened by major page would response a message (JSON format)
                  //which use a function "postMessage", this lister would catch that message
                  window.addEventListener("message", function(response) {
                    var data = [];
                    try {
                      data = JSON.parse(response.data);
                    } catch (ex) {
                      //response error
                      console.log("response is not JSON format.");
                      return;
                    }
                    logisticAddress.val(
                      data["CVSAddress"] + " - " + data["CVSStoreName"]
                    );
                    logisticTelephone.val(data["CVSTelephone"]);
                    // $(".ecpaylogistic_sttel").text(data['CVSTelephone']);
                    selectionWindow.close();
                    selectionWindow = null;
                  });
                </script>
              </div>
            </div>
          </div>

          <div class="margin-bottom-30 padding border-1">
            <div class="line" id="payment-radio">
              <h4>支付方式</h4>
              <hr class="break-small" />
              <div class="radio">
                <label>
                  <input type="radio" name="payment_method" value="ecpay" />
                  綠界整合金流
                </label>
              </div>
              <div class="radio">
                <label>
                  <input
                    type="radio"
                    name="payment_method"
                    value="ecpaylogistic"
                  />
                  ECPay 超商取貨付款
                </label>
              </div>
              <div class="fullwidth">
                <template id="ecpay_option_template">
                  <select
                    name="ecpay_choose_payment"
                    id="ecpay_choose_payment"
                  ></select>
                </template>
              </div>
            </div>
          </div>
          <div class="margin-bottom-30 padding border-1">
            <div class="line" id="invoice">
              <h4>發票選項（選填）</h4>
              <hr class="break-small" />
              <p>本店經國稅局核准，為免用統一發票之行號。</p>
              <div class="checkbox">
                <label
                  ><input
                    type="checkbox"
                    name="get_invoice"
                    id="get_invoice"
                  />加開收據</label
                >
              </div>
              <div class="margin" id="invoice_inputbox" style="display: none">
                <div class="s-12 m-4 l-4">
                  <input
                    type="text"
                    name="invoice_title"
                    value=""
                    placeholder="發票抬頭"
                    id="invoice_title"
                  />
                </div>
                <div class="s-12 m-8 l-8">
                  <input
                    type="text"
                    name="tax_id"
                    value=""
                    placeholder="統一編號"
                    id="tax_id"
                  />
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="s-12 m-12  l-4">
          <div class="margin-bottom-30 padding border-1">
            <div class="line">
              <h4>折價券</h4>
              <hr class="break-small" />
              <div class="margin">
                <div class="s-12 m-6 l-7">
                  <input
                    type="text"
                    name="coupon"
                    value=""
                    placeholder="折價券代碼"
                    id="input-coupon"
                  />
                </div>
                <div class="s-12 m-6 l-5">
                  <a class="button" href="javascript:(0)" id="button-coupon">
                    使用優惠券
                  </a>
                </div>
              </div>
            </div>
          </div>
          <div class="margin-bottom-30 padding border-1">
            <div class="line">
              <h4>訂單內容</h4>
              <hr class="break-small" />
              <div class="margin-bottom text-size-16">
                <a
                  href="https://www.leisurecosmetics.com/index.php?route=product/product&amp;product_id=75"
                >
                  BS06 新手入門 - 初級化妝刷具套裝
                </a>
                <p class="line">
                  <span class="left"> 1 x TWD$910 </span>
                  <span class="right"> <span>小計:</span> TWD$910 </span>
                </p>
              </div>
            </div>
          </div>
          <div class="margin-bottom-30 padding border-1">
            <div class="line">
              <h4>結帳明細</h4>
              <hr class="break-small" />
              <div id="total-table">
                <p class="margin-bottom text-size-16">
                  商品小計: <span class="right"> TWD$910 </span>
                </p>
                <p class="margin-bottom text-size-16">
                  訂單總計: <span class="right"> TWD$910 </span>
                </p>
              </div>
              <template id="total-row">
                <p class="margin-bottom text-size-16">
                  {{ title }}: <span class="right">{{ text }}</span>
                </p>
              </template>
              <button type="submit" class="btn-style">確認</button>
            </div>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>
