<div id="page-main-content">
  <!-- HEADER START -->
  <div class="section">
    <form
      id="checkout-form"
      method="post"
      action="https://www.leisurecosmetics.com/index.php?route=checkout/checkout"
      class="customform payform"
    >
      <div id="content" class="line">
        <h1 class="text-center">結帳</h1>

        <hr class="break-small break-center" />
        <div class="s-12 m-12 l-8 padding-right-30">
          <div class="margin-bottom-30 padding border-1">
            <div class="line">
              <h4>結帳選項</h4>
              <hr class="break-small" />
              <div class="margin">
                <div class="s-12 m-6 l-6">
                  <input
                    type="text"
                    name="order[last_name]"
                    value=""
                    placeholder="姓氏"
                    id="input-payment-lastname"
                  />
                </div>
                <div class="s-12 m-6 l-6">
                  <input
                    type="text"
                    name="order[first_name]"
                    value=""
                    placeholder="名字"
                    id="input-payment-firstname"
                  />
                </div>
              </div>
              <div class="fullwidth">
                <input
                  type="tel"
                  name="order[phone]"
                  value=""
                  placeholder="電話"
                  id="input-telephone"
                />
              </div>
              <div class="fullwidth">
                <input
                  type="text"
                  name="order[email]"
                  value=""
                  placeholder="E-Mail（帳號）"
                  id="input-email"
                />
              </div>

              <div class="city-selector-set">
                <div class="s-12 m-12 l-4">
                  <!-- 縣市選單 -->
                  <select class="county" name="order[zone]"></select>
                </div>
                <div class="s-12 m-6 l-4">
                  <!-- 區域選單 -->
                  <select class="district" name="order[city]"></select>
                </div>
                <div class="s-12 m-6 l-4">
                  <!-- 郵遞區號欄位 (建議加入 readonly 屬性，防止修改) -->
                  <input
                    style="line-height: 24px;"
                    class="zipcode"
                    type="text"
                    size="3"
                    readonly
                    placeholder="郵遞區號"
                    name="order[post_code]"
                  />
                </div>
              </div>

              <!-- address Combo -->

              <div class="fullwidth">
                <input
                  type="text"
                  name="order[address]"
                  value=""
                  placeholder="地址"
                  id="input-payment-address-1"
                />
              </div>
              <div class="fullwidth">
                <textarea
                  id="input-comment"
                  name="order[comment]"
                  rows="5"
                  placeholder="備註"
                ></textarea>
              </div>
            </div>
          </div>

          <div class="margin-bottom-30 padding border-1">
            <div class="line">
              <h4>運送方式</h4>
              <hr class="break-small" />
              <div class="fullwidth">
                <p>請選擇一個運送方式。</p>
                <div class="s-12 m-6 l-6">
                  <div class="radio">
                    <label>
                      <input
                        type="radio"
                        name="order[delivery]"
                        value="ecpaylogistic"
                      />ECPay 超商取貨付款 ECPay 超商取貨付款
                    </label>
                  </div>
                  <div class="radio">
                    <label>
                      <input type="radio" name="order[delivery]" value="flat" />
                      郵寄/宅配
                    </label>
                  </div>
                </div>

                <div class="ecpaylogistic-control-area s-12 m-12 l-12">
                  <div id="ecpaylogistic-store-info">
                    <div class="customform store-info">
                      <h4>收件門市</h4>

                      <div class=" form-group">
                        <div class="error"></div>
                        <div class="col-sm-2">門市地址：</div>
                        <div class="col-sm-10 ">
                          <input
                            type="text"
                            name="ecpaylogistic_address"
                            value=""
                          />
                        </div>
                      </div>
                      <div class=" form-group">
                        <div class="col-sm-2">門市電話：</div>
                        <div class="col-sm-10">
                          <input
                            type="text"
                            name="ecpaylogistic_telephone"
                            value=""
                          />
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="s-12 m-12  l-4">
          <div class="margin-bottom-30 padding border-1">
            <div class="line">
              <h4>折價券</h4>
              <hr class="break-small" />
              <div class="margin">
                <div class="s-12 m-6 l-7">
                  <input
                    type="text"
                    name="coupon"
                    value=""
                    placeholder="折價券代碼"
                    id="input-coupon"
                  />
                </div>
                <div class="s-12 m-6 l-5">
                  <a class="button" href="javascript:(0)" id="button-coupon">
                    使用優惠券
                  </a>
                </div>
              </div>
            </div>
          </div>
          <div class="margin-bottom-30 padding border-1">
            <div class="line">
              <h4>訂單內容</h4>
              <hr class="break-small" />
              <div class="margin-bottom text-size-16">
                <a
                  href="https://www.leisurecosmetics.com/index.php?route=product/product&amp;product_id=75"
                >
                  BS06 新手入門 - 初級化妝刷具套裝
                </a>
                <p class="line">
                  <span class="left"> 1 x TWD$910 </span>
                  <span class="right"> <span>小計:</span> TWD$910 </span>
                </p>
              </div>
            </div>
          </div>
          <div class="margin-bottom-30 padding border-1">
            <div class="line">
              <h4>結帳明細</h4>
              <hr class="break-small" />
              <div id="total-table">
                <p class="margin-bottom text-size-16">
                  商品小計: <span class="right"> TWD$910 </span>
                </p>
                <p class="margin-bottom text-size-16">
                  訂單總計: <span class="right"> TWD$910 </span>
                </p>
              </div>
              <template id="total-row">
                <p class="margin-bottom text-size-16">
                  {{ title }}: <span class="right">{{ text }}</span>
                </p>
              </template>
              <button type="submit" class="btn-style">確認</button>
            </div>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>

<%content_for :footer_js do %>
<script type="text/javascript">
  let delivery = $("[name='order[delivery]']");
  let store = $("#ecpaylogistic-store-info");

  delivery.on("change", function() {
    if ($(this).val() == "ecpaylogistic") {
      store.show();
    } else {
      store.hide();
    }
  });
</script>
<%end%>
