<!-- slideshow item  -->
<div class="item">
    <div class="fullwidth">
        <figure class="imghvr-reveal-down">
            <img src="image/catalog/BS012N/BS012N/BS012N13/BS012N13-1.jpg">
            <figcaption>
                <div class="product-hover-content">
                    <div class="btn-box">
                        <a href="index.php?route=product%252Fproduct&amp;product_id=81" class="btn">更多細節</a>
                    </div>
                </div>
            </figcaption>
        </figure>
    </div>
    <div class="fullwidth">
        <h5 class="text-center">BS01 簡約生活 - 基礎化妝刷具套裝</h5>
        <p class="list_price">
            <span class="text-primary">1090.0000</span> <span class="strike">TWD$1,390</span>
        </p>
        <!-- <p class="text-center"><span class="text-dark-light">Starting from</span> - <span class="text-primary">$299</span></p> -->
    </div>
</div>