 

	

	<div id="page-main-content">
		 
		<!-- SLIDESHOW START -->
		<div class="carousel_3items">

			<!-- slide 1 -->
			<div class="item">
				<!-- slideshow photo -->
				<a href="products/categories/1" title="化妝品">
					<div class="image-box">
						<div class="image">
							<img src="image/catalog/banner/banner008-3.jpg" alt="">
						</div>
					</div>
				</a>
			</div>



		</div>
		<!-- SLIDESHOW END -->

		<!-- ABOUT US START -->

		<div class="section">
			<div class="line">
				<!-- heading -->
				<h2 class="text-center">產品專區</h2>
				<hr class="break-small break-center">
				<!-- slideshow start -->
				
				<div class="carousel-blocks">
					<% @new_products.each do |product| %>
					 	<%= render "item" , product:product%>
					<% end %>
				</div>
				
				<!-- slideshow end -->
			</div>
		</div>
		<div class="background-dark section aboutsec">
			<div class="line">
				<!-- heading -->
				<h2 class="text-center text-white">關於雅詩</h2>
				<hr class="break-small break-center">
				<div class="margin text-white">
					<!-- block 1 -->
					<div class="s-12 m-6 l-4 margin-m-bottom-60">
						<div class="float-left">
						</div>
						<div class="margin-left-60">
							<i class="fa fa-paper-plane-o fa-3x text-primary margin-bottom-20"></i>
							<h3 class="text-white">核心理念</h3>
							<p>本品牌以「輕鬆上妝」為核心理念，旨在創造功能精確，符合特定族群需求的專業彩妝產品。「LEISURE」，在英文中有「悠閒、空暇」之意。我們深信針對需求設計產品，才能真正解決問題，讓上妝成為一段不需忙亂緊張，可悠閒覺察自身美麗的時光，故此為名。</p>
							<!-- <a class="text-more-info text-primary-hover" href="/">Read more</a>                 -->
						</div>
					</div>
					<!-- block 2 -->
					<div class="s-12 m-6 l-4 margin-m-bottom-60">
						<div class="float-left">

						</div>
						<div class="margin-left-60">
							<i class="fa fa-eye fa-3x text-primary margin-bottom-20"></i>
							<h3 class="text-white">品質承諾</h3>
							<p><b>-安心的使用感-</b><br>重視商品安全性，所有彩妝產品皆通過微生物及禁用成分等相關安全性檢驗，符合台灣法規規定。<br><b>-深入的研究力-</b><br>產品大多由台灣設計團隊自主研發，專門針對亞洲氣候和人種設計，讓消費者用平實的價格，買到最合用的商品。</p>
							<!-- <a class="text-more-info text-primary-hover" href="/">Read more</a>                 -->
						</div>
					</div>
					<!-- block 3 -->
					<div class="s-12 m-6 l-4">
						<div class="float-left">
						</div>
						<div class="margin-left-60">

							<i class="fa fa-diamond fa-3x text-primary margin-bottom-20"></i>
							<h3 class="text-white">前瞻理想</h3>
							<p><b>-極致的利用率-</b><br>控管產品體積重量，講求產品規格化及容量精緻化，提升便攜性和使用率，讓消費者輕鬆用完產品，不再有負擔。<br><b>-環保的包裝法-</b><br>在維護商品完整性的原則下，盡量以可循環使用的包材取代一次性包裝，減少地球資源的浪費。</p>
							<!-- <a class="text-more-info text-primary-hover" href="/">Read more</a>                 -->
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- ABOUT US END -->




		<!-- BRAND OVERVIEW START -->

		<!-- PRODUCTS TAB START -->
		<div class="section newsarea">
			<div class="line">
				<!-- heading -->
				<h2 class="text-center">最新消息</h2>
				<hr class="break-small break-center">

				<!-- products slideshow start -->
				<div class="line">
					<div class="margin">
						<% @posts.each do |post|%>
							<%=render 'posts' ,post:post%>
						<%end%>
					</div>
				</div>
				<div class="carousel-content text-center margin-top-30">
					
				</div>
				<!-- products slideshow end -->

			</div>
		</div>
		<!-- PRODUCTS END -->

		<!-- FOOTER START -->
		<button class="totop"><i class="fa fa-angle-up fa-2x"></i></button>
		