 
<div id="page-main-content">
  
    
    <div class="section">
        <div class="line">
            <div class="fullwidth margin-bottom-40">
                <h1 class="text-center text-primary">購買成功</h1>
            </div>
            <div class="fullwidth">
                <div class="text-center padding-2x text-dark bordered-2 margin-bottom-40">
                  
                   
                        <p>謝謝您的購買！</p>
                        <p>歡迎繼續選購。</p>
                        <p>如有任何疑問，請隨時透過 Email 與我們連絡。</p>
                   
                </div>
                <div class="text-center">
                    <a href="/" class="button">繼續</a>
                </div>
            </div>
        </div>
    </div>
</div>
 