<div id="page-main-content">
  
   
    <div class="section">

        <div class="line">
            <h1 class="text-center">會員中心</h1>
            <hr class="break-small break-center">
            <div class="row">
                <%= render 'aside'%>
                <div id="content" class="col-sm-9 col-sm-pull-3">
                    <form action=" " method="post" enctype="multipart/form-data"
                        class="customform payform" id="editForm">

                        <div class="margin-bottom-30 padding border-1">
                            <div class="line">
                                <h4>個人資料</h4>
                                <hr class="break-small">
                                <div class="margin">
                                    <div class="s-12 m-6 l-6">
                                        <input type="text" name="lastname" value="ch" placeholder="姓氏" id="input-lastname" />
                                    </div>
                                    <div class="s-12 m-6 l-6">
                                        <input type="text" name="firstname" value="tsai" placeholder="名字" id="input-firstname" />
                                    </div>
                                </div>
                                <div class="fullwidth">
                                    <input type="tel" name="telephone" value="" placeholder="連絡電話" id="input-telephone" />
                                </div>
                                <div class="fullwidth">
                                    <input type="email" name="email" value="colearning2018@gmail.com" placeholder="Email"
                                        id="input-email" />
                                </div>
                                <div class="fullwidth">
                                    <input type="text" name="fax" value="" placeholder="傳真號碼" id="input-fax" />
                                </div>
                            </div>
                        </div>
                        <div class="buttons clearfix">
                            <div class="pull-left"><a href="/" class="btn btn-default">返回</a></div>
                            <div class="pull-right">
                                <input type="submit" value="確認修改" />
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
 </div>
<%= render 'layouts/footer'%>
 