<div id="page-main-content">
  
   
    <div class="section">

        <div class="line">
            <h1 class="text-center">會員中心</h1>
            <hr class="break-small break-center">
            <div class="row">
                <%= render 'aside'%>
                <div id="content" class="col-sm-9 col-sm-pull-3">
                    <form action="https://www.leisurecosmetics.com/index.php?route=account/edit" method="post" enctype="multipart/form-data"
                        class="customform payform" id="editForm">

                        <div class="margin-bottom-30 padding border-1">
                            <div class="line">
                                <h4>個人資料</h4>
                                <hr class="break-small">
                                <div class="margin">
                                    <div class="s-12 m-6 l-6">
                                        <input type="text" name="lastname" value="ch" placeholder="姓氏" id="input-lastname" />
                                    </div>
                                    <div class="s-12 m-6 l-6">
                                        <input type="text" name="firstname" value="tsai" placeholder="名字" id="input-firstname" />
                                    </div>
                                </div>
                                <div class="fullwidth">
                                    <input type="tel" name="telephone" value="" placeholder="連絡電話" id="input-telephone" />
                                </div>
                                <div class="fullwidth">
                                    <input type="email" name="email" value="colearning2018@gmail.com" placeholder="Email"
                                        id="input-email" />
                                </div>
                                <div class="fullwidth">
                                    <input type="text" name="fax" value="" placeholder="傳真號碼" id="input-fax" />
                                </div>
                            </div>
                        </div>
                        <div class="buttons clearfix">
                            <!-- <div class="pull-left"><a href="https://www.leisurecosmetics.com/index.php?route=account/edit" class="btn btn-default">返回</a></div> -->
                            <div class="pull-right">
                                <input type="submit" value="確認修改" />
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

<%= render 'layouts/footer'%>

<script>
    window.onload = function () {
        for (var i in initializeFunctions) {
            initializeFunctions[i]();
        }
    }
</script>
<script>
    function validate(e) {
        var error = $('.errorwrap');
        var emailReg = /^([\w-\.]+@([\w-]+\.)+[\w-]{2,4})?$/;
        error.html('');
        if (e.name.value.length < 2 || e.name.value.length > 22) {
            error.append("<p><span class='errorbox'>姓名長度須介於2至22字！</span></p>");
        }
        if (e.enquiry.value.length < 10 || e.enquiry.value.length > 3000) {
            error.append("<p><span class='errorbox'>留言請至少輸入10個字！</span></p>");
        }
        if (!emailReg.test(e.email.value)) {
            error.append("<p><span class='errorbox'>Email格式錯誤！</span></p>");
        }
        if (error.html().length > 0) {
            error.slideDown();
            return false;
        }
    }
</script>
</footer>
<!-- FOOTER END -->
<script type="text/javascript">
    <!--
    // Sort the custom fields
    $('.form-group[data-sort]').detach().each(function () {
        if ($(this).attr('data-sort') >= 0 && $(this).attr('data-sort') <= $('.form-group').length) {
            $('.form-group').eq($(this).attr('data-sort')).before(this);
        }

        if ($(this).attr('data-sort') > $('.form-group').length) {
            $('.form-group:last').after(this);
        }

        if ($(this).attr('data-sort') == $('.form-group').length) {
            $('.form-group:last').after(this);
        }

        if ($(this).attr('data-sort') < -$('.form-group').length) {
            $('.form-group:first').before(this);
        }
    });
    //-->
</script>
<script type="text/javascript">
    <!--
    $('button[id^=\'button-custom-field\']').on('click', function () {
        var node = this;

        $('#form-upload').remove();

        $('body').prepend(
            '<form enctype="multipart/form-data" id="form-upload" style="display: none;"><input type="file" name="file" /></form>'
        );

        $('#form-upload input[name=\'file\']').trigger('click');

        if (typeof timer != 'undefined') {
            clearInterval(timer);
        }

        timer = setInterval(function () {
            if ($('#form-upload input[name=\'file\']').val() != '') {
                clearInterval(timer);

                $.ajax({
                    url: 'index.php?route=tool/upload',
                    type: 'post',
                    dataType: 'json',
                    data: new FormData($('#form-upload')[0]),
                    cache: false,
                    contentType: false,
                    processData: false,
                    beforeSend: function () {
                        $(node).button('loading');
                    },
                    complete: function () {
                        $(node).button('reset');
                    },
                    success: function (json) {
                        $(node).parent().find('.text-danger').remove();

                        if (json['error']) {
                            $(node).parent().find('input').after(
                                '<div class="text-danger">' + json['error'] + '</div>');
                        }

                        if (json['success']) {
                            alert(json['success']);

                            $(node).parent().find('input').attr('value', json['code']);
                        }
                    },
                    error: function (xhr, ajaxOptions, thrownError) {
                        alert(thrownError + "\r\n" + xhr.statusText + "\r\n" + xhr.responseText);
                    }
                });
            }
        }, 500);
    });
    //-->
</script>
<script type="text/javascript">
    <!--
    $('.date').datetimepicker({
        pickTime: false
    });

    $('.datetime').datetimepicker({
        pickDate: true,
        pickTime: true
    });

    $('.time').datetimepicker({
        pickDate: false
    });
    //-->
</script>