 

    <div id="page-main-content">
 
        <div class="section">
    
            <div class="line">
                <h1 class="text-center">密碼變更</h1>
                <hr class="break-small break-center">
                <div class="row">
                    <%= render 'aside'%>
                    <div id="content" class="col-sm-9 col-sm-pull-3">
                        <form action="https://www.leisurecosmetics.com/index.php?route=account/password" method="post"
                            enctype="multipart/form-data" class="customform payform">
                            <div class="margin-bottom-30 padding border-1">
                                <div class="line">
                                    <h4>新密碼</h4>
                                    <hr class="break-small">
                                    <div class="fullwidth">
                                        <input type="password" name="password" value="" placeholder="密碼" id="input-password" />
                                    </div>
                                    <div class="fullwidth">
                                        <input type="password" name="confirm" value="" placeholder="確認密碼" id="input-confirm" />
                                    </div>
                                </div>
                            </div>
                            <div class="buttons clearfix">
                                <!--          <div class="pull-left"><a href="https://www.leisurecosmetics.com/index.php?route=account/account" class="button">返回</a></div>-->
                                <div class="pull-right">
                                    <input type="submit" value="確認" />
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
     
    <%=render 'layouts/footer'%>
    <script>
        window.onload = function () {
            for (var i in initializeFunctions) {
                initializeFunctions[i]();
            }
        }
    </script>
    <script>
        function validate(e) {
            var error = $('.errorwrap');
            var emailReg = /^([\w-\.]+@([\w-]+\.)+[\w-]{2,4})?$/;
            error.html('');
            if (e.name.value.length < 2 || e.name.value.length > 22) {
                error.append("<p><span class='errorbox'>姓名長度須介於2至22字！</span></p>");
            }
            if (e.enquiry.value.length < 10 || e.enquiry.value.length > 3000) {
                error.append("<p><span class='errorbox'>留言請至少輸入10個字！</span></p>");
            }
            if (!emailReg.test(e.email.value)) {
                error.append("<p><span class='errorbox'>Email格式錯誤！</span></p>");
            }
            if (error.html().length > 0) {
                error.slideDown();
                return false;
            }
        }
    </script>
    </footer>
    <!-- FOOTER END -->