// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


// edit 
$color-error:#de5151;
.customform input{
    &::placeholder{
        color:#b5b5b5;
    }
} 
.error-input{
    border-bottom: 1px solid $color-error !important;
   
}
.error_message{
    display: block;
    color:$color-error;
    margin-left: 15px;
    
}