<div id="page-main-content">
	 
		<!-- PAGE CONTENT START -->
		<div class="section">

			<!-- page heading and description -->
			<div class="line">
				<div class="margin">
					<div class="fullwidth margin-bottom-60">
						<h1 class="text-center"> 常見問題</h1>
						<!--		  <p class="text-center">追蹤我們的最新焦點動態。</p>-->
						<hr class="break-small break-center">
					</div>
				</div>
			</div>

			<div class="line">
				<div class="margin">

					<div class="fullwidth margin-m-bottom-60">
						<div class="s-12 m-4 l-6 hide-s ">
							<!-- hide in small screens -->
							<a href="index.php?route=newsblog%252Farticle&amp;article_id=12" class="image-hover-zoom">
								<img src="/image/cache/catalog/article/as-600x400.jpg" alt="">
							</a>
						</div>
						<div class="s-12 m-8 l-6">
							<div class="item-left">
								<div class="fullwidth hide-l hide-m">
									<!-- hide in large and medium screens -->
									<a href="index.php?route=newsblog%252Farticle&amp;article_id=12"><img src="/image/cache/catalog/article/as-600x400.jpg"
										 alt="" class="fullwidth"></a>
								</div>
								<h2 class="text-primary">出貨說明</h2>
								<p class="margin-bottom-30">1.所有現貨商品，一律三日內寄出，不含週六日及例假日，特休假日另行公告。
									2.若遇特殊活動以及連假期間訂單量大，將按照訂單順序陸續出貨。
									3.非台灣地區的訂單，一律五日內寄出，運費另計。請先詢問客服確認運費再行下訂，地址填寫於訂單備註即可。</p>
								<a href="index.php?route=newsblog%252Farticle&amp;article_id=12" class="button">Read More</a>
							</div>
						</div>
					</div>

					<div class="fullwidth margin-m-bottom-60">
						<div class="s-12 m-4 l-6 hide-s right">
							<!-- hide in small screens -->
							<a href="index.php?route=newsblog%252Farticle&amp;article_id=11" class="image-hover-zoom">
								<img src="/image/cache/catalog/article/faq-600x400.jpg" alt="">
							</a>
						</div>
						<div class="s-12 m-8 l-6">
							<div class="item-left">
								<div class="fullwidth hide-l hide-m">
									<!-- hide in large and medium screens -->
									<a href="index.php?route=newsblog%252Farticle&amp;article_id=11"><img src="/image/cache/catalog/article/faq-600x400.jpg"
										 alt="" class="fullwidth"></a>
								</div>
								<h2 class="text-primary">購物Ｑ＆Ａ</h2>
								<p class="margin-bottom-30">Q1.如何選擇開立發票？
									Q2.如何選擇開立收據？
									Q3.信用卡付款後想取消訂單，該如何退費？
									Q4.商品有瑕疵，該如何換貨？</p>
								<a href="index.php?route=newsblog%252Farticle&amp;article_id=11" class="button">Read More</a>
							</div>
						</div>
					</div>

					<div class="fullwidth margin-m-bottom-60">
						<div class="s-12 m-4 l-6 hide-s ">
							<!-- hide in small screens -->
							<a href="index.php?route=newsblog%252Farticle&amp;article_id=10" class="image-hover-zoom">
								<img src="/image/cache/catalog/article/ppd-600x400.jpg" alt="">
							</a>
						</div>
						<div class="s-12 m-8 l-6">
							<div class="item-left">
								<div class="fullwidth hide-l hide-m">
									<!-- hide in large and medium screens -->
									<a href="index.php?route=newsblog%252Farticle&amp;article_id=10"><img src="/image/cache/catalog/article/ppd-600x400.jpg"
										 alt="" class="fullwidth"></a>
								</div>
								<h2 class="text-primary">運送支付方式介紹</h2>
								<p class="margin-bottom-30">關於運送方式及支付方式</p>
								<a href="index.php?route=newsblog%252Farticle&amp;article_id=10" class="button">Read More</a>
							</div>
						</div>
					</div>

					<div class="fullwidth margin-m-bottom-60">
						<div class="s-12 m-4 l-6 hide-s right">
							<!-- hide in small screens -->
							<a href="index.php?route=newsblog%252Farticle&amp;article_id=9" class="image-hover-zoom">
								<img src="/image/cache/catalog/article/_ar-600x400.jpg" alt="">
							</a>
						</div>
						<div class="s-12 m-8 l-6">
							<div class="item-left">
								<div class="fullwidth hide-l hide-m">
									<!-- hide in large and medium screens -->
									<a href="index.php?route=newsblog%252Farticle&amp;article_id=9"><img src="/image/cache/catalog/article/_ar-600x400.jpg"
										 alt="" class="fullwidth"></a>
								</div>
								<h2 class="text-primary">退換貨須知</h2>
								<p class="margin-bottom-30">[關於退貨]
									如商品有以下情形，恕無法辦理退貨：
									1.超過七天鑑賞期(鑑賞期非試用期）。
									2.非全新商品：商品使用過有磨損髒污，或是已下水清洗有褪色等情形發生。
									3.非完整包裝：完整包裝應含條碼貼紙、保護套、包裝袋、外盒等所有附屬配件。
									4.非完整內容：所有訂單需整筆退貨(包含活動贈送之贈品)，恕無法部份退貨。
									如商品有瑕疵問題，請於七日鑑賞期內聯絡客服，我們將迅速為您處理。
									如因個人因素退貨，或超商未取次數累計2次，本公司將保留接受訂單的權利。


									[關於換貨]
									為節省來回寄送耗費之時間，維持良好的交易品質，目前不提供換貨服務，請謹慎購買。
									如需更換商品，請退貨後重新下單，謝謝。
								</p>
								<a href="index.php?route=newsblog%252Farticle&amp;article_id=9" class="button">Read More</a>
							</div>
						</div>
					</div>


				</div>

			</div>
		</div>
		<!-- PAGE CONTENT END -->

	</div>