<div class="s-12 m-4 l-3 margin-bottom-30">
        <div class="margin">
            <div class="fullwidth">
                <figure class="imghvr-reveal-down">
                    <img src="/image/cache/catalog/BS012N/BS012N/BS012N01/BS012N01-1-800x800.jpg" alt="BSN01 全面勻透 - 斜角平底刷"
                        title="BSN01 全面勻透 - 斜角平底刷" class="img-responsive" />
                    <figcaption>
                        <div class="product-hover-content">
                            <div class="btn-box">
                                <a href="index.php?route=product%252Fproduct&amp;product_id=60" class="btn">更多細節</a>
                            </div>
                        </div>
                    </figcaption>
                </figure>
            </div>

            <div class="fullwidth">
                <a href="index.php?route=product%252Fproduct&amp;product_id=60">
                    <h5>
                        BSN01 全面勻透 - 斜角平底刷 </h5>
                    <p class="list_price">
                        <span class="text-primary">TWD$220</span> <span class="strike">TWD$270</span>
                    </p>
                </a>
            </div>
        </div>
</div>