<% @products.each do |product|%>
<div class="s-12 m-4 l-3 margin-bottom-30">
        <div class="margin">
            <div class="fullwidth">
                <figure class="imghvr-reveal-down">
                    <%if product.image[0]%>
                    <img src="/uploads/<%=product.image[0].image[:original].id%>">
                    <%end%>
                    <figcaption>
                        <div class="product-hover-content">
                            <div class="btn-box">
                                 
                                <a href="/products/<%=product.id%>" class="btn">更多詳情</a>
                            </div>
                        </div>
                    </figcaption>
                </figure>
            </div>
            <div class="fullwidth desc">
                <h5><%=product.name%></h5>
                <p class="list_price">
                    <span class="text-primary">TWD$150</span> <span class="strike">TWD$<%=product.price%></span>
                </p>
            </div>
        </div>
    </div>

    <%end%>