<footer>

    <div class="section" id="footercontact">

        <!-- email and phone numbers -->

        <div class="line">

            <div class="margin">

                <div class="fullwidth text-center margin-bottom-40">

                    <h5>聯絡我們</h5>

                </div>

                <div class="fullwidth phone-number margin-bottom-60">

                    <div class="s-12 m-6 l-6 margin-s-bottom-60">

                        <span>客服信箱</span><br />

                        service@leisurecosmetics.com

                    </div>

                    <div class="s-12 m-6 l-6">

                        <span>合作洽談</span><br />

                        lijue.company@gmail.com

                    </div>

                </div>

            </div>

        </div>

        <!-- contact form -->

        <div class="line">

            <form class="footer-form" action="https://www.leisurecosmetics.com/index.php?route=information/contact"
                method="post" onsubmit="return validate(this);">

                <div class="fullwidth">

                    <div class="margin">

                        <div class="s-12 m-6 l-6">

                            <input type="text" name="name" placeholder="姓名" title="姓名" required />

                        </div>

                        <div class="s-12 m-6 l-6">

                            <input type="text" name="email" placeholder="Email" title="Email" required />

                        </div>

                    </div>

                    <div class="margin">

                        <div class="s-12 m-6 l-6">

                            <input type="text" name="phone" placeholder="聯絡電話" title="聯絡電話" required />

                        </div>

                        <!-- <div class="s-12 m-6 l-6">
		
									<input type="text" name="subject" placeholder="主題" title="主題" />
		
								</div> -->

                    </div>

                    <div class="s-12">

                        <textarea name="enquiry" placeholder="留言" rows="2" required></textarea>

                    </div>
                    <div class="s-12 text-center errorwrap">
                    </div>
                    <div class="s-12 m-12 l-4 l-offset-4">

                        <input type="submit" class="button" value="送出">

                    </div>

                </div>

            </form>

        </div>

    </div>

    <!-- footer bottom bar -->
    <div class="copyright">
        <div class="line">

            <!-- left -->
            <div class="s-12 m-12 l-12">
                <!-- <ul class="footer-bar-links">
						<li><a href="">Contact Us</a></li>
						<li><a href="">Faqs</a></li>
						<li><a href="">Shipping</a></li>
						<li><a href="">Return Policy</a></li>
						<li><a href="">Order Tracking</a></li>
					</ul> -->
                <p><a href="index.php?route=information%252Finformation&amp;information_id=4">Copyright &copy; <span id="year"></span>鳥飛絕工作室
                        All rights reserved.</a></p>
                <p> <a href="https://www.codepulse.com.tw" title="網站架設"> Powered by ＿＿＿＿＿</a></p>
            </div>


            <script>
                var date = new Date();
                var date_year = date.getYear() + 1900;
                document.getElementById('year').innerHTML = date_year;
            </script>

        </div>
    </div>

    </div>


    <!-- js Files -->
    <script type="text/javascript" src="/catalog/view/javascript/jquery/jquery-2.1.1.min.js"></script>
    <script type="text/javascript" src="/catalog/view/javascript/jquery/jquery-ui.min.js"></script>
    <script type="text/javascript" src="/catalog/view/javascript/jquery/magnific/jquery.magnific-popup.min.js"></script>
    <script type="text/javascript" src="/catalog/view/javascript/bootstrap/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="/catalog/view/javascript/jquery/owl-carousel/owl.carousel.js"></script>
    <script type="text/javascript" src="/catalog/view/js/address.js"></script>
    <script type="text/javascript" src="/catalog/view/javascript/common.js"></script>

    <script type="text/javascript" src="/catalog/view/javascript/custom.js"></script>

    <script>
        window.onload = function () {
            for (var i in initializeFunctions) {
                initializeFunctions[i]();
            }
        }
    </script>
    <script>
        function validate(e) {
            var error = $('.errorwrap');
            var emailReg = /^([\w-\.]+@([\w-]+\.)+[\w-]{2,4})?$/;
            error.html('');
            if (e.name.value.length < 2 || e.name.value.length > 22) {
                error.append("<p><span class='errorbox'>姓名長度須介於2至22字！</span></p>");
            }
            if (e.enquiry.value.length < 10 || e.enquiry.value.length > 3000) {
                error.append("<p><span class='errorbox'>留言請至少輸入10個字！</span></p>");
            }
            if (!emailReg.test(e.email.value)) {
                error.append("<p><span class='errorbox'>Email格式錯誤！</span></p>");
            }
            if (error.html().length > 0) {
                error.slideDown();
                return false;
            }
        }
    </script>
</footer>
<!-- FOOTER END -->