<footer>

    <div class="section" id="footercontact">

        <!-- email and phone numbers -->

        <div class="line">
            <div class="margin">
                <div class="fullwidth text-center margin-bottom-40">
                    <h5>聯絡我們</h5>
                </div>
                <% if flash[:success] %>
                    <div class="notice" style="color: white;
                    text-align: center;
                    font-size: 20px;
                    margin: 30px 0; "><%= flash[:success] %></div>
                <% end %>
                <div class="fullwidth phone-number margin-bottom-60">
                    <div class="s-12 m-6 l-6 margin-s-bottom-60">
                        <span>客服信箱</span><br />
                        service@yes.com
                    </div>
                    <div class="s-12 m-6 l-6">
                        <span>合作洽談</span><br />
                        yes@gmail.com
                    </div>
                </div>
            </div>
        </div>

        <!-- contact form -->

        <div class="line">
            <form action="/contacts" id="footer-form" class="footer-form" onsubmit=" event.preventDefault(); validate(this);">
           
                <div class="fullwidth">
                    <div class="margin">
                        <div class="s-12 m-6 l-6">
                            <input type="text" name="name" placeholder="姓名" title="姓名" />
                        </div>
                        <div class="s-12 m-6 l-6">
                            <input type="text" name="mail" placeholder="Email" title="Email" required />
                        </div>
                    </div>
                    <div class="margin">
                        <div class="s-12 m-6 l-6">
                            <input type="text" name="phone" placeholder="聯絡電話" title="聯絡電話"   />
                        </div>
                    </div>

                    <div class="s-12">
                        <textarea name="note" placeholder="留言" rows="2"  ></textarea>
                    </div>
                    <div class="s-12 text-center errorwrap " style="color:white">
                       
                    </div>
                    <div class="s-12 m-12 l-4 l-offset-4">
                        <input type="submit" class="button" value="送出">
                    </div>
                </div>
            </form>
            
        </div>

    </div>

    <!-- footer bottom bar -->
    <div class="copyright">
        <div class="line">

            <!-- left -->
            <div class="s-12 m-12 l-12">
                <!-- <ul class="footer-bar-links">
						<li><a href="">Contact Us</a></li>
						<li><a href="">Faqs</a></li>
						<li><a href="">Shipping</a></li>
						<li><a href="">Return Policy</a></li>
						<li><a href="">Order Tracking</a></li>
					</ul> -->
                <p><a href="/">Copyright &copy; <span id="year"></span>雅詩美妝
                        All rights reserved.</a></p>
                <p> <a href="/" title="網站架設"> Powered by ＿＿＿＿＿</a></p>
            </div>


            <script>
                var date = new Date();
                var date_year = date.getYear() + 1900;
                document.getElementById('year').innerHTML = date_year;
            </script>

        </div>
    </div>

    </div>


    <!-- js Files -->
    <script type="text/javascript" src="/catalog/view/javascript/jquery/jquery-2.1.1.min.js"></script>
    <script type="text/javascript" src="/catalog/view/javascript/jquery/jquery-ui.min.js"></script>
    <script type="text/javascript" src="/catalog/view/javascript/jquery/magnific/jquery.magnific-popup.min.js"></script>
    <script type="text/javascript" src="/catalog/view/javascript/bootstrap/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="/catalog/view/javascript/jquery/owl-carousel/owl.carousel.js"></script>
    <script type="text/javascript" src="/catalog/view/js/address.js"></script>
    <script type="text/javascript" src="/catalog/view/javascript/common.js"></script>
    <script src="/bower_components/tw-city-selector/dist/tw-city-selector.js"></script>
    <script type="text/javascript" src="/catalog/view/javascript/custom.js"></script>
    <%= javascript_include_tag :application %> 
    <script>
        window.onload = function () {
            for (var i in initializeFunctions) {
                initializeFunctions[i]();
            }
            
        }
        new TwCitySelector({
            el: '.city-selector-set',
            elCounty: '.county', // 在 el 裡查找 element
            elDistrict: '.district', // 在 el 裡查找 element
            elZipcode: '.zipcode', // 在 el 裡查找 element
            hasZipcode: true,
            districtFieldName:'order[city]', 
            countyFieldName:'order[zone]'
        });
    </script>
    <script>
        function validate(e) {
            var error = $('.errorwrap');
            var emailReg = /^([\w-\.]+@([\w-]+\.)+[\w-]{2,4})?$/;
            error.html('');
            
            
            if (e['name'].value.length < 2 || e['name'].value.length > 22) {
                error.append("<p><span class='errorbox'>姓名長度須介於2至22字！</span></p>");
            }
            if (e['phone'].value.length < 10 || e['phone'].value.length > 3000) {
                error.append("<p><span class='errorbox'>電話請至少輸入10個字！</span></p>");
            }
            if (!emailReg.test(e['mail'].value)) {
                error.append("<p><span class='errorbox'>Email格式錯誤！</span></p>");
            }
            if (error.html().length > 0) {
                error.slideDown();
                return false;
            }else{
               
                let data = {} ;
                $("#footer-form").serializeArray().map(serial=>{
                    data[serial.name] = serial.value
                })
                $.post('/contacts',{contact:data},function(data){
                    toastr.info(data.message, 'Thank you!!', {timeOut: 5000, positionClass: "toast-top-right"})
                    $("#footer-form")[0].reset()
                })
            } 
        }
    </script>
    <%= yield :footer_js %>
</footer>
 
<!-- FOOTER END -->