<!-- HEADER START -->
<header>
    <!-- top bar start -->
    <div id="topbar-primary" class="background-primary">
        <div class="line">
            <!-- social icons -->
            <div class="hide-s hide-m l-6">
                <ul>
                    <li>
                        <a href="https://www.instagram.com/LeisureCosmetics/" target="_blank">
                            <i class="fa fa-instagram"></i>
                        </a>
                    </li>
                    <li>
                        <a href="https://www.facebook.com/leisurecosmetics" target="_blank">
                            <i class="fa fa-facebook"></i>
                        </a>
                    </li>
                    <li>
                        <a href="line://ti/p/@pwt3858z">
                            <i class="fab fa-line"></i>
                        </a>
                    </li>



                </ul>
            </div>
            <!-- contact details -->
            <div class="l-6 m-12 s-12">
                <div class="right">
                    <ul class="topbar-menu">
                        <!-- <li><a href="#">info@website.com</a></li> -->
                        <!-- <li><a href="#">123456789</a></li> -->




                        <li>
                            <a href="/users/edit" title="會員中心">
                                <i class="fa fa-user"></i>
                                <span class="hidden-xs hidden-sm hidden-md">
                                    會員中心 </span>
                            </a>
                        </li>
                        <!-- <li><a href="https://www.leisurecosmetics.com/index.php?route=account/wishlist" id="wishlist-total" title="收藏清單（0）"><i class="fa fa-heart"></i> <span class="hidden-xs hidden-sm hidden-md">收藏清單（0）</span></a></li> -->
                        <li>
                            <a href="/cart" title="購物車" id="cart">
 
                                <i class="fa fa-shopping-cart"></i>
                                <span class="hidden-xs hidden-sm hidden-md">
                                    購物車
                                </span>
                                <span class="cart_number">0</span>
                            </a>
                        </li>

                    </ul>
                </div>
            </div>
        </div>
    </div>
    <!-- top bar end -->

    <!-- navigation and logo -->
    <nav class="nav">
        <div class="line">
            <!-- logo -->
            <div class="s-12 l-12">
                <div class="fullwidth">

                    <a class="nav-text"></a>
                    <a href="/" class="logo">
                        <img src="/catalog/view/images/logo.png" alt="">
                    </a>
                </div>
            </div>

            <!-- navigation -->
            <div class="top-nav s-12 m-12 l-12">
                <ul class="chevron">
                    <li>
                        <a href='/products/categories/12' class="hvr-sweep-to-bottom">-新品上架-</a>
                    </li>
                    <li>
                        <a href='/products/categories/12' class="hvr-sweep-to-bottom">-限時優惠-</a>
                    </li>

                    <li>
                        <a href='/products/categories/12' class="hvr-sweep-to-bottom">-熱賣推薦-</a>
                    </li>

                    <li>
                        <a href="javascript:void(0)" class="hvr-sweep-to-bottom">-商品分類-</a>
                        <ul>
                            <!-- <li>
                                    <a href="index.php?route=product/category" class="hvr-sweep-to-bottom">所有商品</a>
                                </li> -->

                            <li>
                                <a href="/products/categories/64" class="hvr-sweep-to-bottom">
                                    近期注目 </a>

                                <ul>
                                    <li><a class="hvr-sweep-to-bottom" href="/products/categories/64_60">新品上架</a></li>
                                    <li><a class="hvr-sweep-to-bottom" href="/products/categories/64_74">限時優惠</a></li>
                                    <li><a class="hvr-sweep-to-bottom" href="/products/categories/64_73">熱賣推薦</a></li>
                                </ul>
                            </li>


                            <li>
                                <a href="/products/categories/64" class="hvr-sweep-to-bottom">
                                    全部商品 </a>
                            </li>


                            <li>
                                <a href="/products/categories/64" class="hvr-sweep-to-bottom">
                                    化妝刷具 </a>

                                <ul>
                                    <li><a class="hvr-sweep-to-bottom" href="/products/categories/64_92">套裝組合</a></li>
                                    <li><a class="hvr-sweep-to-bottom" href="/products/categories/64_80">粉底刷</a></li>
                                    <li><a class="hvr-sweep-to-bottom" href="/products/categories/64_81">遮瑕刷</a></li>
                                    <li><a class="hvr-sweep-to-bottom" href="/products/categories/64_82">蜜粉刷</a></li>
                                    <li><a class="hvr-sweep-to-bottom" href="/products/categories/64_83">修容刷</a></li>
                                    <li><a class="hvr-sweep-to-bottom" href="/products/categories/64_93">鼻影刷</a></li>
                                    <li><a class="hvr-sweep-to-bottom" href="/products/categories/64_84">腮紅刷</a></li>
                                    <li><a class="hvr-sweep-to-bottom" href="/products/categories/64_85">打亮刷</a></li>
                                    <li><a class="hvr-sweep-to-bottom" href="/products/categories/64_87">眼影刷</a></li>
                                    <li><a class="hvr-sweep-to-bottom" href="/products/categories/64_88">唇刷</a></li>
                                    <li><a class="hvr-sweep-to-bottom" href="/products/categories/64_86">眉刷</a></li>
                                </ul>
                            </li>


                            <li>
                                <a href="/products/categories/64" class="hvr-sweep-to-bottom">
                                    海綿粉撲 </a>

                                <ul>
                                    <li><a class="hvr-sweep-to-bottom" href="/products/categories/64_90">經典單顆</a></li>
                                    <li><a class="hvr-sweep-to-bottom" href="/products/categories/64_89">套裝組合</a></li>
                                </ul>
                            </li>


                            <li>
                                <a href="/products/categories/64" class="hvr-sweep-to-bottom">
                                    其他工具 </a>

                                <ul>
                                    <li><a class="hvr-sweep-to-bottom" href="/products/categories/64_91">洗刷墊</a></li>
                                </ul>
                            </li>


                        </ul>
                    </li>

                    <li>
                        <a href="javascript:void(0)" class="hvr-sweep-to-bottom">-關於商店-</a>
                        <ul>
                            <li>
                                <a href="/news/categories/12" class="hvr-sweep-to-bottom">
                                    最新消息 </a>

                            </li>
                            <li>
                                <a href="/news/categories/12" class="hvr-sweep-to-bottom">
                                    選購攻略 </a>

                            </li>
                            <li>
                                <a href="/news/categories/12" class="hvr-sweep-to-bottom">
                                    常見問題 </a>

                            </li>
                        </ul>
                    </li>

                    <li>
                        <a href='index.html#footercontact' class="hvr-sweep-to-bottom">-聯絡我們-</a>
                    </li>


                </ul>
            </div>

        </div>
    </nav>
</header>
<!-- HEADER END -->