 
<div id="page-main-content">
  
    
    <div class="section">
        <div class="line">
            <div class="fullwidth margin-bottom-40">
                <h1 class="text-center text-primary"><%=session[:last_action]=='edit'?'修改':'註冊'%>成功</h1>
            </div>
            <div class="fullwidth">
                <div class="text-center padding-2x text-dark bordered-2 margin-bottom-40">
                  
                    <%if session[:last_action]=='new' %>
                        <p>恭喜您！ 已經成為本站會員！</p>
                        <p>現在您可以利用會員優惠來提高您在我們網上的購物體驗。</p>
                        <p>假如您對商店操作有任何疑問，請隨時透過 Email 與我們連絡。</p>
                    <%else %>
                        <p> 基本資料已更新。</p>
                    <%end%> 
                </div>
                <div class="text-center">
                    <a href="/" class="button">繼續</a>
                </div>
            </div>
        </div>
    </div>
</div>
 